.fadeIn path {
  animation: fadeIn 1s infinite ease-out backwards;
}

.fadeIn path:nth-of-type(2) {
  animation-delay: 0.1s;
}

.fadeIn path:nth-of-type(3) {
  animation-delay: 0.2s;
}

.fadeIn path:last-of-type {
  animation-delay: 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
