@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

.custom-shape-divider-bottom-1714584326 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1714584326 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 65px;
  transform: rotateY(180deg);
}

#about-us .custom-shape-divider-bottom-1714584326 .shape-fill {
  fill: #fff;
}

#home .custom-shape-divider-bottom-1714584326 .shape-fill {
  fill: #ebf0fa;
}

.fadeIn path {
  animation: fadeIn 1s infinite ease-out backwards;
}

.fadeIn path:nth-of-type(2) {
  animation-delay: 0.1s;
}

.fadeIn path:nth-of-type(3) {
  animation-delay: 0.2s;
}
.fadeIn path:last-of-type {
  animation-delay: 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
