@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

.custom-shape-divider-bottom-1714584326 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1714584326 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 65px;
  transform: rotateY(180deg);
}

#about-us .custom-shape-divider-bottom-1714584326 .shape-fill {
  fill: #fff;
}

#home .custom-shape-divider-bottom-1714584326 .shape-fill {
  fill: #ebf0fa;
}

.fadeIn path {
  animation: fadeIn 1s infinite ease-out backwards;
}

.fadeIn path:nth-of-type(2) {
  animation-delay: 0.1s;
}

.fadeIn path:nth-of-type(3) {
  animation-delay: 0.2s;
}

.fadeIn path:last-of-type {
  animation-delay: 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.slides {
  transition: background 2000s;
  animation: slide 20s infinite ease-in forwards;
}

@keyframes slide {
  0%,
  33% {
    background-image: url("https://i.ibb.co/s2PKJm4/hero.jpg");
  }
  34%,
  66% {
    background-image: url("https://i.ibb.co/S5HbzhB/02-Original-Image.png");
  }
  67%,
  100% {
    background-image: url("https://i.ibb.co/LQZhSyy/03-Original-Image.png");
  }
}

.slides::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: slideOut 20s infinite;
}

@keyframes slideOut {
  0%,
  10%,
  90%,
  100% {
    opacity: 1;
  }
  30%,
  70% {
    opacity: 0;
  }
}
